.Cell {width:6.4rem;   color:#494d4d; padding:0.2rem .1rem; border-bottom:1px dashed #ccc;}
.Cell h2{max-height:0.9rem; font-size:0.33rem; overflow:hidden;}
.Cell p{max-height:1.8rem; margin-top:0.05rem;overflow:hidden;}
